<launch>
   <group ns="khepera_robot">
	<node name="camera_node" pkg="khepera_command" type="video_camera_node" respawn="true"/>

	<node name="processing_node" pkg="khepera_command" type="robot_command_node"/>
	<node name="command_node" pkg="khepera_command" type="image_preprocessing_node"/>

    </group>

</launch>